################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestMarkDoc/FileContentIndex
/MarkDocMVC/bin/Debug/net6.0
/MarkDocMVC/obj
/MarkDocMVC/wwwroot/lib
/.vs/TestMarkDoc/DesignTimeBuild
/.vs/ProjectEvaluation
/.vs/TestMarkDoc/v17/.suo
/MarkDocMVC/wwwroot/posts/NAME_2.md
