@{
    ViewData["Title"] = "Home Page";
}

<div id="tui-image-editor"></div>
<script>
    const options = {
        //...
        usageStatistics: false,
    };

    const imageEditor = new tui.ImageEditor('#tui-image-editor', options);
</script>
