@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.css" />
<div id="tui-image-editor"></div>
<img src="~/img/sampleImage.jpg"/>
<script type="text/javascript" src="~/node_modules/tui-image-editor/dist/tui-image-editor.js"></script>
<script>
    const options = {
        includeUI: {
            loadImage: {
                path: '~/img/sampleImage.jpg',
                name: 'sampleImage',
            }
        }
    };

    const imageEditor = new tui.ImageEditor('#tui-image-editor', options);
</script>
